/* actorDetails.css */

.actor-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* Add a smooth background color transition */
  }
  
  .actor-details:hover {
    background-color: #fff; /* Change background color on hover */
  }
  
  .actor-details h2 {
    font-size: 28px;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
  }
  

  .actor-details p
  {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: center;
  }

  
  .actor-details .summary {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
  }
  
  .actor-details img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; 
     display: block; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Add a smooth scale transition on hover */
   
  }
  
  .actor-details img:hover {
    transform: scale(1.1); /* Scale up the image on hover */
  }
  
  .actor-details p.loading {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }
  
  /* Add any additional styles based on your design preferences */
  